* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "MS Serif", serif;
  background-color: rgb(244, 134, 152)
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  margin-bottom: 50px;
}

h2 {
  color: whitesmoke;
  font-family: "MS Serif", serif;
  font-size: 30px;
}
label,
p {
  color: whitesmoke;
  font-family: "MS Serif", serif;
  font-size: 16px;
}
.wrap-logo {
  display: flex;
  align-items: center;
}

header a {
  color: whitesmoke;
  font-family: "MS Serif", serif;
  font-size: 20px;
  padding: 12px;
  text-decoration: none;
  border-radius: 4px;
}

.sender-divider {
  border-top: 2px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

header a.logo {
  font-size: 25px;
  font-weight: bold;
}

header a:hover {
  transition: background 1s ease;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

a {
  font-family:"MS Serif", serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.password {
  color: rgb(80, 0, 44);
  font-size: 14px;
}

p {
  margin: 0px 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

input {
  margin: 5px 0;
  padding: 10px;
  border: unset;
  outline: none;
  animation: borderAnimation 2s infinite;
}

textarea {
  font-size: 24px;
  padding: 10px;
}

.error {
  border-bottom: 2px solid red;
}

.msg {
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.none {
  display: none;
}

.navpost {
  margin: 0 auto;
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navlist {
  max-width: 300px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navitem {
  margin-left: 1rem;
}

.navitem > .active {
  padding: 15px;
  border-radius: 20px;
  color: #fff;
}

.message__label {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message__textarea {
  margin: 1rem 0rem;
  border-radius: 1rem;
}

.message__bth {
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  font-size: 1.3rem;
}

.news-line {
  max-width: 1000px;
  width: 100%;
}

.news-line__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.news-line__item {
  background-color: #2415a9;
  color: white;
  max-width: 300px;
  margin: 20px 20px;
  padding: 1rem;
  border-radius: 1rem;
}

.news-line__message {
  font-size: 1.3rem;
  font-weight: bold;
}
.glow-on-hover {
  width: 150px;
  height: 50px;
  border: 3px solid white;
  outline: none;
  color: #fff;
  background-color: rgb(244, 134, 152);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
